SGOINFRE_BASE="$HOME/sgoinfre"
if [ -d "$SGOINFRE_BASE" ]; then
    SGOINFRE="$SGOINFRE_BASE"
else
    SGOINFRE="$(pwd)"
fi

export UV_PROJECT_ENVIRONMENT="$SGOINFRE/RAG/.venv"
export UV_CACHE_DIR="$SGOINFRE/RAG/.uv_cache"

export UV_PYTHON="/home/tlaranje/.local/share/uv/python/cpython-3.14.3-linux-x86_64-gnu/bin/python3"

export HF_HOME="$SGOINFRE/RAG/.llm"
export TRANSFORMERS_CACHE="$SGOINFRE/RAG/.llm"

export UV_LINK_MODE="copy"

export LANGSMITH_TRACING="true"
export LANGSMITH_API_KEY="..."

export VIRTUAL_ENV="$UV_PROJECT_ENVIRONMENT"
PATH_add "$VIRTUAL_ENV/bin"