SGOINFRE_BASE="$HOME/sgoinfre"
if [ -d "$SGOINFRE_BASE" ]; then
    SGOINFRE="$SGOINFRE_BASE"
else
    SGOINFRE="$(pwd)"
fi
export UV_PROJECT_ENVIRONMENT=$SGOINFRE/RAG/.venv
export UV_CACHE_DIR=$SGOINFRE/RAG/.uv_cache
export HF_HOME=$SGOINFRE/RAG/.llm
export TRANSFORMERS_CACHE=$SGOINFRE/RAG/.llm
export UV_LINK_MODE=copy
export LANGSMITH_TRACING="true"
export LANGSMITH_API_KEY="..."